*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
!/.idea/misc.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/
app/libs/
library/libs/
/library/local.properties
.idea
/appslib/local.properties
gradle.properties
!/.idea
appslib/libs/
.idea/modules/library/
.idea/shelf/
